
<!DOCTYPE html>
<head>

	<style>
		table {
		  border-collapse: collapse;
		  width: 130%;
		}
	  
		th, td {
		  text-align: left;
		  padding: 8px;
		  border-bottom: 1px solid #ddd;
		}
		th {
			height: 40px;
		}
	  
		tr:nth-child(even) {background-color: #f2f2f2;}
	  </style>

<style>
	.button {
	  background-color: #0d89ff;
	  border: none;
	  color: white;
	  padding: 16px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  transition-duration: 0.4s;
	  cursor: pointer;
	}
  
	.button {
	  background-color: #0d89ff; 
	  color: black; 
	  border: 2px solid #0d89ff;
	}
  
	.button:hover {
	  background-color: white;
	  color: black;
	}
	.button {width: 43%; color: white;}
  </style>

	<title id="su_ka1">ADMIN</title>

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="https://www.gamesrig.com/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="https://www.gamesrig.com/css/util.css">
<link rel="stylesheet" type="text/css" href="https://www.gamesrig.com/css/main.css">
<link rel="stylesheet" type="text/css" href="https://www.gamesrig.com/css/css.css">
<!--===============================================================================================-->
<script src="https://www.gamesrig.com/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="https://www.gamesrig.com/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
			
			<script src="https://www.gamesrig.com/js/client_platform.js"></script>
			
			<meta name="google-signin-client_id" content="593547713922-kd9f9c74unt6gjgneet1qkrs7su81q2j.apps.googleusercontent.com">
            
			<style>
				body {
                                    background-image: url("https://www.gamesrig.com/img/index/gamesrig-background-marvels-avengers-fifa-21.jpg");
                					background-color: #f0f1f5;
				}
			</style>
	<style>
		.how-to-order {
			padding-top: 5px;
		}
		.how-to-order > p {
			margin: 10px 0;
		}
		.how-to-order > p > img {
			max-width: 100%;
		}
		.how-to-order > img {
			max-width: 100%;
		}
		.nav-tabs {
			border-bottom: 2px solid #0d89ff;
		}
		.nav-tabs .nav-link:hover  {
			border-color: #0d89ff;
			background-color: #f7f7f7;
			text-decoration: underline;
		}
		.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
			color: white;
			background-color: #0d89ff;
			border-color: #0d89ff;
		}
		.nav-tabs .nav-link {
			border: 1px solid #0d89ff;
			margin-right: 3px;
		}
	</style>

</head>

<body class="xhidden">

	<div class="d-none d-lg-block" style=" position: -webkit-sticky;  position: sticky; top: 0; z-index: 3;">
		<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center" style="background-color: #282F37;height: 80px;">
			<a href="index.php" class="navbar-brand d-flex w-50 mr-auto d-block d-sm-none">ADMIN</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<div class="container">
				<div class="navbar-collapse collapse w-10" id="collapsingNavbar3">
					<a class="nav navbar-nav justify-content-end">
						<p style="color:white; font-size:38px;" >ADMIN</p>
						&nbsp;</a>
	
							<ul class="nav navbar-nav ml-auto w-50 justify-content-end">
									<li class="nav-item navtext">
										<a class="nav-link navtext texttopnav" href="/"></i>ออกจากระบบ</a>
									</li>
			
							</ul>
	
						</div>
					</div>
				</nav>
			</div>


		<div class="d-none d-lg-block">
			<nav class="navbar navbar-expand-lg navbar-light margin0rem" style="background-color: #06a3fd;">

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
					class="navbar-toggler-icon"></span>
				</button>

				<div class="container" style="padding: 0px;">
					<div class="collapse navbar-collapse">

						<ul class="navbar-nav mx-auto">

							<li class="nav-item navtext" style="background-color: #02589d;">
								<p class="nav-link hovernavpc navpadding" style="color: white;">EDIT</p>
							</li>

						</ul>
					</div>
				</div>
			</nav>
		</div>

	<div class="container" id="container">

		<div class="row">

        </div>   
         
			<div class="col-lg-9 col-md-12">

				<div class="row">

					<div class="col-lg-12 m-t-20" style="padding-left: 7.5px;padding-right: 7.5px;">

                        <h1 id="#headline" class="ltext-107">รายการแก้ไขสำหรับ ADMIN</h1>
						
						<p class="m-t-15 m-b-15 mtext-107">กดตัวเลือกเพื่อต้องการแก้ไขสิ่งใด</p>

						
						<nav>
							<div class="nav nav-tabs" id="how-to-order-nav" role="tablist">
								
								<a class="nav-item nav-link show active" data-toggle="tab" href="#ต่อคิว" role="tab" aria-selected="true">ต่อคิว</a>
						
								<a class="nav-item nav-link " data-toggle="tab" href="#เพิ่มเกม" role="tab" aria-selected="false">เพิ่มเกม</a>

								<a class="nav-item nav-link " data-toggle="tab" href="#จัดการเกม" role="tab" aria-selected="false">จัดการเกม</a>
						
							</div>
						</nav>

	<div class="tab-content" id="how-to-order-nav-content">
		<div class="mtext-107 how-to-order tab-pane fade show active" id="ต่อคิว" role="tabpanel" aria-labelledby="ต่อคิว">
			<p>&nbsp;</p><p>&nbsp;</p>
			<table 1cellspacing="5" width="50%" height="5">
				<thead>
				<th>ชื่อผู้ซื้อ</th>
				<th>ชื่อเกม</th>
				<th>ราคา</th>
				<th style="text-align:center" colspan="2">สถานะ</th>
				<th style="text-align:center">วัน/เวลา</th>
				<th>มีข้อผิดพลาด</th>
				<th style="text-align:center" colspan="2">ไม่ผ่าน/ผ่าน</th>
				</thead>
				{% for row in rows %}
				<tr>
					<td>{{ row['nameuser'] }}</td>
					<td>{{ row['namegame'] }}</td>
					<td>{{ row['price'] }}</td>
					<td>{{ row['status_order'] }}</td>
					
					<td style="text-align:center">  
						<form action="/อัพเดตสถานะผู้ใช้name={{row['nameuser']}}เสร็จสิ้น" method="post"> 
							<input type="hidden" name = "idoc" value="{{ row['idoc'] }}" > 
							<input type="submit" value="ตรวจสอบ" />
						</form> 
					</td>

					<td style="text-align:center">{{ row['timeoc'] }}</td>

					<form action = "/อัพเดะผู้ใช้name={{row['nameuser']}}ไปยังorderที่มีปัญหาแล้ว" method="POST">
					<td>
						<select name= "nf">
							<option value= ""></option>
							<option value= "ไม่พบการโอนเงิน">ไม่พบการโอนเงิน</option>
							<option value= "โอนเงินไม่ครบ">โอนเงินไม่ครบ</option>
							<option value= "ข้อผิดพลาดที่ไม่รู้จัก">ข้อผิดพลาดที่ไม่รู้จัก</option>		
						</select>
					</td>
						<td >  
								<input type="hidden" name = "namegame" value="{{ row['namegame'] }}" /> 
								<input type="hidden" name = "nameuser" value="{{ row['nameuser'] }}" /> 
								<input type="hidden" name = "idoc" value="{{ row['idoc'] }}" />
								<input type="hidden" name = "idg" value="{{ row['checkidg'] }}" />
								<input type="submit" value="ไม่ผ่าน" />
					</form> 
						</td>
						<td>  
							<form action = "/ทำรายการเสร็จสิ้นname={{row['nameuser']}}" method="POST">
								<input type="hidden" name = "namegame" value="{{ row['namegame'] }}" /> 
								<input type="hidden" name = "nameuser" value="{{ row['nameuser'] }}" /> 
								<input type="hidden" name = "idoc" value="{{ row['idoc'] }}" />
								<input type="hidden" name = "price" value="{{ row['price'] }}" />
								<input type="submit" value="ส่งเกม" />
							</form> 
					</td>
				{% endfor %}
				</tr>
			</table>
			<p>&nbsp;</p>
		</div>

		<div class="mtext-107 how-to-order tab-pane fade " id="เพิ่มเกม" role="tabpanel" aria-labelledby="เพิ่มเกม">
			<p>&nbsp;</p>

			<table 1cellspacing="5" width="50%" height="5">									
					<form action = "{{ url_for('insertgame') }}" method="POST">
						<fieldset>
							<legend>เพิ่มเกมส์</legend>
							<TABLE  BORDER="1" style="width:40%">
								<TR>
								<TD>ชื่อเกมส์:</TD>
								<TD>
									<INPUT TYPE="TEXT" NAME="namegame" SIZE="20" placeholder="ชื่อเกม">
								</TD>
								</TR>
								<TR>
								<TD>ประเภทเกมส์:</TD>
								<TD>
									<select name= "typegame">
										<option value= "1">1. เล่นคนเดียว</option>
										<option value= "2">2. เล่นหลายคน</option>
										<option value= "3">3. เล่นคนเดียว,เล่นหลายคน</option>
									</select>
								</TD>
								</TR>
								<TR>
									<TD>จำกัดอายุ :</TD>
									<TD><INPUT TYPE="TEXT" NAME="age" SIZE="25" placeholder="ตัวเลข"></TD>
								</TR>
								<TR>
									<TD>แพลตฟอร์ม:</TD>
									<TD>
										<select name= "platform">
											<option value= "1">1. Steam</option>
											<option value= "2">2. Uplay</option>
											<option value= "3">3. Origin</option>
											<option value= "4">4. orther</option>
										</select>
									</TD>
								</TR>
								<TR>
									<TD>ราคา :</TD>
									<TD><INPUT TYPE="TEXT" NAME="price" SIZE="25" placeholder="ตัวเลข"></TD>
								</TR>
								<TR>
									<td>จำนวนที่ต้องการขาย:</td>
									<TD><INPUT TYPE="TEXT" NAME="amount" SIZE="25" placeholder="ตัวเลข"></TD>
								</TR>
								<TR>
									<TD>ลิ้งรูป :</TD>
									<TD><INPUT TYPE="TEXT" NAME="linkimg" SIZE="25" placeholder="ลิ้งรูปออนไลน์"></TD>
								</TR>
							</TABLE>
							&nbsp;
							<th><p><button class="button button" type="submit">เพิ่มเกม</button></p></th>
						</fieldset>
					</form>
			</table>
		</div>

		<div class="mtext-107 how-to-order tab-pane fade " id="จัดการเกม" role="tabpanel" aria-labelledby="จัดการเกม">
			<p>&nbsp;</p>

			<table 1cellspacing="5" width="50%" height="5">
				<thead>
				<th>ชื่อเกม</th>
				<th>ราคา</th>
				<th style="text-align:center">จำนวนเหลือ</th>
				<th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
				<th>ยืนยันจำนวนเกมที่ต้องการ</th>
				<th>ลบเกม</th>

				</thead>
				{% for row in rows2 %}
			<tr>
					<td>{{ row['namegame'] }}</td>
					<td>{{ row['price'] }}</td>

					<form action = "/อัพเดตจำนวนเกม{{row['namegame']}}เป็น{{row['namegame']}}เสร็จสิ้น" method="POST">

				<TD>
					<INPUT style="text-align:right" TYPE="TEXT" NAME="amount" value="{{ row['amount'] }}">
				</TD>
				
				<td>

						<td>  
								<input type="hidden" name = "price" value="{{ row['price'] }}" /> 
								<input type="hidden" name = "namegame" value="{{ row['namegame'] }}" /> 
								<input type="submit" value="ยืนยันเพื่อกำหนดจำนวนเกม" />
						</td>
					</form> 

						<td>  
							<form action = "/ลบเกม{{row['namegame']}}แล้ว" method="POST">
								<input type="hidden" name = "price" value="{{ row['price'] }}" /> 
								<input type="hidden" name = "namegame" value="{{ row['namegame'] }}" /> 
								<input type="hidden" name = "amount" value="{{ row['amount'] }}"/>
								<input type="submit" value="ลบเกม" />
						</td>
					</form> 
				<td>
			</tr>
				{% endfor %}
			</table>
		</div>





	</div>
				</div> 

			</div> 

		</div> 


	</div>
</body>
</html>